.resume-container {
  min-width: 1000px;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.page-container {
  display: flex;
  gap: 0.5em;
  min-width: 100%;
  min-height: 100%;
}
