input {
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: gainsboro;
  max-height: 2em;
}

.input-forms {
  display: none;
}

div > form.input-forms-show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
}

.input-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: whitesmoke;
  padding: 0.5em;
  border-radius: 4px;
}

.input-top > :first-child {
  background-color: #ff0800;
  color: whitesmoke;
}

.personal-input-container {
  background-color: whitesmoke;
  padding: 0.5em;
  border-radius: 4px;
  margin: 0.5em 0;
  text-align: left;
}
