.personal-info-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 6rem;

  background-color: #fd8d30;
  color: whitesmoke;
}

.personal-info-details {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.resume-headings {
  background-color: gainsboro;
  color: #fd8d30;
}

.resume-sections {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
}

.resume-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(1em, 1fr));
  gap: 1em;
}

.resume-items {
  display: grid;
  grid-template-columns: repeat(2, minmax(1em, 1fr));
}

.resume-container {
  background-color: whitesmoke;
}
