ul {
  list-style: none;
  padding: 0;
}

label {
  text-align: left;
}

input {
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: gainsboro;
  max-height: 2em;
}

.input-forms {
  display: none;
  gap: 1em;
}

div > form.input-forms-show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
}

.input-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: whitesmoke;
  padding: 0.5em;
  border-radius: 4px;
}

.input-top > :first-child,
.input-delete-btns {
  background-color: #ff0800;
  color: whitesmoke;
}

.personal-input-container {
  background-color: whitesmoke;
  padding: 0.5em;
  border-radius: 4px;
  margin: 0.5em 0;
  text-align: left;
}

.input-containers {
  background-color: whitesmoke;
  padding: 0.5em;

  display: grid;
  gap: 1em;
}

.input-containers-btn {
  min-width: 100%;
  font-weight: bolder;
  font-size: larger;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input-lists > ul > li {
  min-width: 100%;
  font-weight: bolder;
  font-size: larger;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.input-lists {
  display: grid;
  gap: 1em;
}

.input-add-list-btn {
  border-radius: 50%;
  max-width: 2em;
  margin: auto;
  color: black;
  font-weight: bolder;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -25px 18px -14px inset,
    rgba(0, 0, 0, 0.15) 0 1px 2px, rgba(0, 0, 0, 0.15) 0 2px 4px,
    rgba(0, 0, 0, 0.15) 0 4px 8px, rgba(0, 0, 0, 0.15) 0 8px 16px,
    rgba(0, 0, 0, 0.15) 0 16px 32px;
}

.from-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-add-btns {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
}
